@import globals
.button
  background linear-gradient(215deg, primary-color 15%, tint(primary-color, 45) 100%, lighten(primary-color, 20) 50%)
  font-weight 800
  border-radius .25rem
  padding .25em
  color white
  text-align center
  text-shadow $shadows
  box-shadow $shadows

