@import globals
.button
  background radial-gradient(circle at 50%, primary-color 10%, tint(primary-color, 2) 25%, lighten(primary-color, 20) 75%, darken(primary-color, 2) 100%);
  font-weight 800
  border-radius .25rem
  padding .25em
  color white
  text-align center
  text-shadow $shadows
  box-shadow $shadows

