@import globals
.button
  background radial-gradient(circle at 1%, primary-color 5%, lighten(primary-color, 20) 50%, tint(primary-color, 15) 95%);
  font-weight 800
  margin 15px;
  border-radius .25rem
  padding .25em
  color white
  text-align center
  text-shadow $shadows
  box-shadow $shadows
