@import globals

.header
  width 100%
  display: grid
  text-align center
  background-color primary-color
  grid-auto-flow column
  grid-gap .75rem
  padding 0 1.5em 0 1.5em
  color #FFFFFF
  height: 100px
  border-bottom solid 2px accent-color
  //box-shadow 0 5px 15px rgba(#aaa, 50)
  position sticky
  top 0px

  .logo
    justify-self start
    height 80px
    margin-top 8px


    .logocontent
      fill #fff

  .nav
    display grid
    grid-auto-flow column
    align-content center
    justify-content end
    padding 0 30px 0 30px

    a
      padding 0 0 0 20px
      font-size 20px

        &:hover
            color shade(#fff, 35)
