@import globals


.modalWrapper
  display flex
  justify-content center
  left 0
  outline 0
  overflow-x hidden
  overflow-y auto
  position fixed
  top 25%
  width 100%
  z-index 1000

.modal
  background-color #fff
  border-radius .25rem
  border 1px solid primary-color
  margin 1.875rem
  max-width 700px
  padding 1.75em
  position relative
  z-index 4000

.modalOverlay
  background-color rgba(primary-color, 90)
  height 100vh
  left 0
  position fixed
  opacity .7
  top 0
  width 100vw
  z-index 100

.form
  display grid
  grid-template-columns[labels] auto[controls] 1fr
  grid-template-rows[feilds] 3fr

[
buttons
]
1fr
grid-gap 1rem
padding 1.25rem
width 80%

label
  grid-column labels
  grid-row auto
  justify-content center

input,
select
  grid-column controls
  grid-row auto
  height 2em
  border none
  border-bottom 1px solid primary-color
  margin .5em

.inputButtons
  display grid
  grid-template-columns 1fr 1fr
  grid-gap 1rem
  margin .5rem
