@import globals


.modalWrapper
  display flex
  justify-content center
  left 0
  outline 0
  overflow-x hidden
  overflow-y auto
  position fixed
  top 25%
  width 100%
  z-index 1000

.modal
  align-items center
  background-color #fff
  border-radius .25rem
  border 1px solid black
  display flex
  flex-direction column
  margin 1.875rem
  max-width 700px
  position relative
  padding 1em
  opacity 100
  z-index 4000

.modalOverlay
  background-color rgba(primary-color, 90)
  height 100vh
  left 0
  position fixed
  opacity .9
  top 0
  width 100vw
  z-index 100

//TODO: more sytles required for the modal
